.Center1{
    color: aquamarine;
    position: relative;
    top: -1900px;
    left: 450px;
    margin: 0px;
    display: inline-block;
}
.Margin__Setting{
    margin: 0px;
}
.Head__Banner{
    background-image: url(../public/afisha_2.png);
    height: 340px;
    width: 800px;
    position: relative;
    top: 10px;
}
.Dop__Banner{
    position: relative;
    top: -200px;
    left: 20px;
}
.Center1 p{
    color: azure;
    font-size: 25px;
    font-family: Dongle;
    margin: 0px;
    padding: 0px;
}
.Center1 h1{
    color: azure;
    font-family: Dongle;
    font-size: 55px;
    margin: 0;
}
.Center1 h3{
    color: azure;
    font-family: Dongle;
    font-size: 35px;
    margin: 0;
    position: relative;
    top: -30px;
}
.Button_Afisha{
    width: 192px;
    height: 49px;
    border-radius: 20px;
    background: #34FFE8;
    color: #373737;
    font-family: Dongle;
    font-size: 35px;
    text-align: center;
    position: relative;
    top: -30px;
    transition: all 1s;
    margin: 0px;
    &:hover{
        color: azure;
        background: #d81d1d;
        transition: all 1s;
        width: 212px;
    }
}
.Top__Film{
    position: relative;
    top: -150px;
}
.Movies__Class{
    height: 320px;
    width: 250px;
    transition: all 1s;
    &:hover{
        filter: blur(2.5px);
        transition: all 1s;
        height: 350px;
    }
}
