.VideoPlayer{
    position: absolute;
    color: aliceblue;
    top: 100px;
    left: 500px;
    h1{
        color: azure;
        font-size: 45px;
        font-family: Dongle;
        margin: 0px;
        padding: 0px;
    }
    th{
        color: azure;
        font-size: 35px;
        font-family: Dongle;
        margin: 0px;
        padding: 0px;
        text-align: left;
        padding-right: 15px;
    }
    .Videos{
        border-radius: 10px;
    }
}
.but2{
    background-color: aqua;
}