.VideoPlayer{
    position: absolute;
    color: aliceblue;
    top: 100px;
    right: 700px;
}
.VideoPlayer h1{
    color: azure;
    font-size: 45px;
    font-family: Dongle;
    margin: 0px;
    padding: 0px;
}
.VideoPlayer th{
    color: azure;
    font-size: 35px;
    font-family: Dongle;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-right: 15px;
}
.Videos{
    border-radius: 10px;
}
